
.luis-espinoza-compo-main-container {
    padding: 0 5%;
}

.home-word {
    font-family: var(--title);
    text-shadow: var(--softShadow);
    font-size: 4rem;
    text-align: left;
    padding: 1% 0px;
}

.white-word {
    color: var(--white)
}

.purple-word {
    color: var(--purple)
}

.golden-word {
    color: var(--golden)
}

.orange-word {
    color: var(--orange)
}

.green-word {
    color: var(--green)
}
@media screen and (max-width: 1362px) {
    .home-word {
        font-size: 3rem;
    }
}
@media screen and (max-width: 1026px) {
    .home-word {
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 858px) {
    .home-word {
        font-size: 2rem;
    }
}
@media screen and (max-width: 692px) {
    .home-word {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 514px) {
    .home-word {
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 438px) {
    .home-word {
        font-size: 1rem;
    }
}