.about-me-section-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(238, 238, 180, 0.32);
    position: relative;
    min-height: 100vh;
}

.about-me-title {
    margin-top: 25%;
    text-align: center;
    font-size: clamp(4.5vw, 5.5vw,6vw);
    font-family: 'Open Sans', sans-serif
}
.avatar-image-tilt {
    overflow: visible;
    border-radius: 50%;
    shape-outside: circle();
    padding-right: 5%;
    float: left;
    margin-left: 5%;
    cursor: pointer;
}

.avatar-image-about-me {
    max-width:45vw;
    min-width:45vw;
    animation: sun-spin 50s infinite linear;
}

.about-paragraph-right {
    font-size: 4vw;
    padding: 0% 10% 0% 10%;
    width: auto;
    line-height: 7vw;
    text-align: center;
    font-family: 'Open Sans', sans-serif;

}

@keyframes sun-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }

}


@media screen and (min-width: 700px) {
    .about-me-title {
        margin-top: 7%;
        text-align: center;
        font-size: clamp(3vw, 4vw, 5vw);
    }


    .avatar-image-about-me {
        max-width:23vw;
        min-width:23vw;

    }

    .about-paragraph-right {
        font-size: clamp(2.4vw,2.3vw,2.5vw);
        line-height: 4vw;
        max-width: 80ch;
        align-self: center;
    }

}
