.about-me-main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(238, 238, 180, 0.32);
    position: relative;
    min-height: 100vh;
}

.about-me-title {
    margin-top: 25%;
    text-align: center;
    font-size: clamp(4.5vw, 5.5vw,6vw);
    font-family: 'Open Sans', sans-serif
}
.avatar-image-tilt {
    overflow: visible;
    border-radius: 50%;
    shape-outside: circle();
    padding-right: 5%;
    float: left;
    margin-left: 5%;
    cursor: pointer;
}

.avatar-image-about-me {
    max-width:45vw;
    min-width:45vw;
    animation: sun-spin 50s infinite linear;
}

@keyframes sun-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }


}
.about-paragraph-right {
    font-size: 4vw;
    padding: 0% 10% 0% 10%;
    width: auto;
    line-height: 7vw;
    text-align: center;
    font-family: 'Open Sans', sans-serif;

}

@media screen and (min-width: 600px) {
    .about-me-title {
        margin-top: 10%;
    }

    .about-me-section-container {
        align-items: center;
    }
    .avatar-image-tilt {
        margin-left: 0;
        align-self: center;
    }
    .avatar-image-about-me {
        max-width:23vw;
        min-width:23vw;

    }
    .about-me-content-container {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        min-height: 80vh;
    }
    .about-paragraph-right {
        font-size: clamp(2vw,2vw,2vw);
        line-height: 4vw;
        width: 50ch;
        padding: 0% 25% 0% 0%;
        align-self: center;
    }
    .about-me-title {
        text-align: center;
        font-size: clamp(3vw, 4vw, 5vw);
    }

}
