.mobile-menu-container-out {
    width: 100%;
    background-color: #C8BE67;
    z-index: 1;
    border: 2px solid blue;
    margin-top: -500%;
    transition: margin-top 1s ease;
}

.mobile-menu-container-in {
    width: 100%;
    height: 100vh;
    background-color: #C8BE67;
    z-index: 1;
    border: 2px solid blue;
    margin-top: -160%;
    transition: margin-top 1s ease;
}