.project-card {
    /* border: 4.5px solid #000000; */
    box-shadow: 1px 7px 36px -20px rgba(0,0,0,0.66);
    -webkit-box-shadow: 1px 7px 36px -20px rgba(0,0,0,0.66);
    -moz-box-shadow: 1px 7px 36px -20px rgba(0,0,0,0.66);
    width: 320px;
    border-radius: 20px;
    padding: 25px;
    background-color: #748386;
    
}

.slide-project-card {
    min-height: 200px;
    cursor: grab;
}

.project-card-image {
    object-fit: contain;
    max-width: 100%;
    min-width: 100%;
    min-height: 200px;
    max-height: 300px;
    position: relative;
    aspect-ratio: 16/9;

}

.project-name-project-card {
    font-size: 24px;
    text-align: center;
    font-family: var(--title);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 10%;
    margin-bottom: 15px;
    color:var(--white);
    text-shadow: var(--softShadow);

}
.tags-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
}


.project-card-description {
    font-family: var(--content);
    font-size: 16px;
    margin-top: 10px;
    font-weight: 600;
    color:var(--white);
    line-height: 20px;
    
}
