.project-container {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 750px) {
    .project-cards-container {
        display: grid;
        grid-template-columns: .5fr .5fr .5fr;
        grid-template-rows: auto;
    }
}