.technologies-container {
    background-color: rgba(238, 238, 180, 0.32);
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.technologies-logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    row-gap: 2.5%;
    margin-bottom:31%;
}
.tech-logo {
    max-width: 25vw;
    cursor: pointer;

}

.tech-logo:hover {
    transform: scale(1.3);
}

@media screen and (min-width: 600px) {
    .technologies-container {
        background-color: rgba(238, 238, 180, 0.32);
        height: 100vh;
        overflow: scroll;
    }
    .technologies-logos {
        grid-template-columns: .5fr .5fr .5fr;
        row-gap: 2.5%;
        column-gap: 10%;
        margin-bottom:15%;
    }
    .tech-logo {
        max-width: 8vw;
    }
}