.tag-container {
    min-width: 80%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.94);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(253, 253, 253);
    transition: all .1s ease-in;
    text-transform: lowercase;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: white;
    font-size: 14px;
}
.tag-container:hover {
    transform: scale(.9);
}
@media screen and (min-width: 750px) {
    .tag-container  {
        font-size: clamp(13px,15px,18px);
        min-height: 40px;
    }

}
