.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    border: none;
    width: fit-content;
    height: fit-content;
    font-family:var(--title);
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
    color: #ffffff;
    z-index: 2;
    transition: background-color .3s ease-out;
    padding: 13px 19px;
  }

.button:hover {
  background-color: #4a4b4a;
  transition: background-color .3s ease-out;
}

@media(max-width:757px) {
  .button {
    font-size: 16px;
  }
}