.education-main-container {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    background-color: var(--darkBlue);
    align-items: center;
    min-height: 100vh;

}
.education-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.education-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
    border-radius: 20px;
    height: fit-content;
    padding: 25px;
    background-color: var(--white);
    box-shadow: 1px 7px 36px -20px rgba(0,0,0,0.66);
    -webkit-box-shadow: 1px 7px 36px -20px rgba(0,0,0,0.66);
    -moz-box-shadow: 1px 7px 36px -20px rgba(0,0,0,0.66);
}
.school-image {
    width: 150px;
    object-fit: contain;
    margin-left: 5%;
    cursor: default;
}

.education-item-description {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 20px;
    width: 20ch;
    overflow: visible;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.school-name {
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}
.years-duration {
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}
.career-name {
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.education-school-link {
    color: #000000;
    overflow: visible;
}

.education-school-link:hover {
    color: #000000;
    font-weight: 550;
}

@media screen and (max-width: 758px) {
    .education-card-container {
        flex-direction: column;
        width: fit-content;
        padding: 5%;
  
    }
    .school-image {
        width: 150px;
        margin-left: 0;
    }
    .education-item-description {
        font-size: 18px;
        margin-top: 20px;
    }


}

