.contact-container {
    display: flex;
    flex-direction: column;
    height: 130vh;
    overflow: auto;
    margin-bottom: 5%;


}

.form-contact {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    max-width: 70%;
    min-width: 70%;
    margin: 0 auto;
    row-gap: 10%;
}

.contact-button {
    margin: 0 auto;
}

.contact-error-sending-email {
    margin: 0 auto;
}
