.contact-container {
    display: flex;
    flex-direction: column;
    background-color: var(--darkBlue);
    min-height: 100vh;
    padding-bottom: 5%;
}

.form-contact {
    display: flex;
    flex-direction: column;
    gap: 10%;
    padding: 0 5%;
    color: var(--white);

}

.contact-button {
    align-self: center;
}

.contact-error-sending-email {
    align-self: center;
    text-align: center;
    font-size: 18px;
    line-height: 24px;

}
