.footer-container {
    min-width: 100%;
    max-height: 12vh;
    background-color: rgba(0, 0, 0, 0.97);
    display: flex;
    align-content: center;
    justify-content: center;

    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
}
.footer-container:link {
    color: #FFFFFF;
}
.footer-link-name {
    color: #FFFFFF;
}
.footer-link-name:visited {
    color: #FFFFFF;
}

.footer-copyright-disclaimer {
    color: #FFFFFF;
    font-family: 'Open Sans', serif;
    font-size: clamp(2.5vw, 3vw,3.5vw);
    align-self: center;
    text-align: center;
}

@media screen and (min-width: 600px) {


    .footer-container {
        max-height: 15vh;
        bottom: -20px;
    }
    .footer-copyright-disclaimer {
        font-size: 20px;
        align-self: center;
        text-align: center;
    }
}