  .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-behavior: smooth;
    flex-grow: 1;
    overflow: hidden;
  }

  .welcome-container {
    min-height: 100vh;
    background-color: var(--darkBlue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
  }
  @keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
  }

  .explore-arrow-container {
    position: absolute;
    bottom: 50px;
    align-self: center;
  }
  .explore-page-arrow {
    width: 45px;
    align-self: flex-end;
    cursor: pointer;
  }
  .explore-page-arrow-animated {
    width: 45px;
    align-self: flex-end;
    animation: pulse 1.3s infinite;
    cursor: pointer;
  }
