.specialities-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(238, 238, 180, 0.32);
    height: 100vh;
    align-items: center;
    overflow: scroll;
}

.speciality-container {
    display: flex;
    min-width: 40vw;
    max-width: 50vw;
    min-height: 40vw;
    max-height: 50vw;
    border: 2px solid #143421;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 5%;
    background-color: #e8e370;
    cursor: pointer;

}

.speciality-container p {
    width: 5ch;
    text-align: center;
    font-weight: bolder;
    font-size: 57px ;
    font-family: 'Prata', serif;
    text-transform: uppercase;
}

@media screen and (min-width: 850px) {

    .specialities-container {
        justify-content: flex-start;
    }
    .speciality-container {
        min-width: 15vw;
        max-width: 20vw;
        min-height: 15vw;
        max-height: 20vw;

    }

    .specialities {
        display: flex;
        flex-direction: row;
        gap: 10%;
        min-width: 99%;
        justify-content: center;
        flex-wrap: wrap;

    }
    .speciality-container p {
        font-size: 7vw;
    }
}